VITE_SUPABASE_URL=isi_dengan_url_supabase_anda
VITE_SUPABASE_ANON_KEY=isi_dengan_anon_key_supabase_anda
VITE_CLOUDINARY_CLOUD_NAME=isi_dengan_cloud_name_cloudinary
VITE_CLOUDINARY_UPLOAD_PRESET=isi_dengan_upload_preset_cloudinary